@keyframes translate_animation {
  from{
    transform: translate(0px);
  }
  to{
    transform: translate(100px);
  }

}


.image-block__animation_arrow {
  position: absolute;
  /* z-index: 2; */
  width: 70px;
  height: 100px;
  left: 300px;
  top: 350px;
  animation: translate_animation 1s linear infinite alternate;
  transition: transform 0.1s linear 0.1s;
}
