.popup__timetable-in{
  margin: 0;
  grid-row: 2/3;
  grid-column: 1/2;
  /* margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center; */
  justify-self: stretch;
  text-align: center;
  background-color: antiquewhite;
    /* align-self: stretch; */
  padding-top: 20px;
}
