.popup__timetable-out{
  margin: 0;
  grid-row: 3/4;
  grid-column: 1/2;
  /* margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center; */
  justify-self: stretch;
  text-align: center;
  background-color: #ffffe0;
    /* align-self: stretch; */
  padding-top: 20px;
 border-bottom-left-radius: 10px;
}
