.header__title{
  margin: 0;
  margin-top: 30px;
  font-weight: 500;
  font-size: 47px;
  line-height: 16px;
  color:cadetblue;
}

@media screen and (max-width: 848px) {
  .header__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 710px) {
  .header__title {
    font-size: 27px;
  }
}

@media screen and (max-width: 580px) {
  .header__title {
    font-size: 22px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 18px;
    margin-top: 20px;
  }
}
