@keyframes scale_animation {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }

}

.image-block__point{
  position: absolute;
  /* z-index: 2; */
  width: 3%;
  /* height: 100px; */
  /* left: 300px;
  top: 350px; */
  /* animation: scale_animation 1s linear infinite alternate; */
  transition: transform 0.1s linear 0.1s;
}

.image-block__point:hover{
  transform: scale(1.5);

}
