.page{
  display: grid;
  grid-template-columns:84% 16%;
  grid-template-rows: 12% 88%;
  max-width: 1280px;
  width: auto;
  /* height: 100vh; */
  /* background-color: #ffffe0; */

  background: radial-gradient( #d8d856,white);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px; */
  box-sizing: border-box;
  aspect-ratio: 4/3;
}

/* @media screen and (max-width: 848px) {
  .header__subtitle {
    grid-template-columns: 100%;
    grid-template-rows: 12% 88% ;
  }
} */
