.popup__adress-out{
  margin: 0;
  grid-row: 3/4;
  grid-column: 3/4;
  /* margin-top: 30px;
  margin-bottom: 30px;*/
  /* justify-self: center; */
  margin-top: 15%;
  margin-left: 2%;
  color: #e5097f;
  font-family: "Inter", sans-serif, Arial;
  font-weight: 500;
}

@media screen and (max-width: 848px) {
  .popup__adress-out {
    font-size: 14px;
  }
}

@media screen and (max-width: 710px) {
  .popup__adress-out {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .popup__adress-out {
    font-size: 10px;
    /* margin-top: 20px; */
  }
}

@media screen and (max-width: 400px) {
  .popup__adress-out {
    font-size: 8px;
    /* margin-top: 20px; */
  }
}

@media screen and (max-width: 360px) {
  .popup__adress-out {
    font-size: 6px;
    /* margin-top: 20px; */
  }
}
